@font-face {
  font-family: "Fira Sans";
  src: local("Fira Sans Light"), local("FiraSans-Light"),
    url("../../content/font/FiraSans-Light.woff2") format("woff2"),
    url("../../content/font/FiraSans-Light.woff") format("woff"),
    url("../../content/font/FiraSans-Light.svg#FiraSans-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Fira Sans";
  src: local("Fira Sans Medium"), local("FiraSans-Medium"),
    url("../../content/font/FiraSans-Medium.woff2") format("woff2"),
    url("../../content/font/FiraSans-Medium.woff") format("woff"),
    url("../../content/font/FiraSans-Medium.svg#FiraSans-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "GT Super Display";
  src: local("GT Super Display Trial Medium"),
    local("GTSuperDisplayTrial-Medium"),
    url("../../content/font/GTSuperDisplayTrial-Medium.woff2") format("woff2"),
    url("../../content/font/GTSuperDisplayTrial-Medium.woff") format("woff"),
    url("../../content/font/GTSuperDisplayTrial-Medium.svg#GTSuperDisplayTrial-Medium")
      format("svg");
  font-weight: 500;
  font-style: normal;
}

html {
  font-size: $font-size;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: $color-text;
}

h1,
h2,
h3,
h4 {
  font-family: "GT Super Display", Georgia, "Times New Roman", Times, serif;
}

h5,
h6 {
  font-weight: 300;
}

@for $i from 1 to 7 {
  h#{$i} {
    font-size: headerSize($font-size, $i);

    @media all and (max-width: $mobile-width) {
      font-size: headerSize($font-size-proportional, $i);
    }
  }
}
