@import "vars", "fonts";

html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  vertical-align: text-bottom;
  display: block;
}

.contained {
  max-width: $max-width;
  margin: 0 auto;
}
.contained-small {
  max-width: $max-width-small;
  margin: 0 auto;
}

@import "article", "gallery", "hero";
