.nav-container {
  $padd: 1rem;
  position: sticky;
  top: -$padd;
  background: #fff;
  text-align: center;
  z-index: 1000;
  .nav {
    display: inline-flex;
    margin: 0 auto;
    align-items: center;
    height: $nav-height;
    line-height: $nav-height;
  }

  a {
    text-decoration: none;
    display: block;
    max-height: $nav-height;
    position: relative;
    padding: $padd 0.6em 0;
    img {
      height: $nav-height;
    }
  }
}
