.nav-container {
  $padd: 1rem;
  position: sticky;
  top: 0;
  background: #fff;
  text-align: center;
  z-index: 1000;
  .isHome & {
    margin-top: -$nav-height;
  }
  .nav {
    display: inline-flex;
    margin: 0 auto;
    align-items: center;
    height: $nav-height;
    line-height: $nav-height;
  }

  a {
    text-decoration: none;
    display: block;
    max-height: $nav-height;
    position: relative;
    padding: 0 0.6em;
    img {
      height: $nav-height;
    }
  }
}
