{{ define "main" }}

<h1>{{ .Title }}</h1>
<ul class="portfolio-gallery">
{{ range.Pages.ByPublishDate.Reverse }}
{{ $bgImg := .RawContent | replaceRE `(\\n)*!\[[\w]*\]\(([\w\-.]*)\)[\s\S]*` `../../img/$2` | safeHTMLAttr }}
  <li{{ if eq .Params.highlight true }} class="highlight"{{ end }} style="background-color:{{if isset .Params "color"}}{{ .Params.color }}{{ else }}#eee{{ end }};background-image:url({{ trim $bgImg "\n" }})"><a href="{{ .RelPermalink }}">{{ .Title }}
  </a></li>
  {{ end }}
</uk>

{{ end }}
